

<div>
  <div style="text-align: center;">
    <a ui-sref="Home" class="btn btn-primary">Home</a>
  </div>
  <form class="well-container" ng-submit="vm.editPost()">
    <label>Name</label>
    <input class="form-control" placeholder="Name..." ng-model="vm.post.name" required/>
    <label>Email</label>
    <input class="form-control" placeholder="Subject..." ng-model="vm.post.subject"required/>
    <label>Phone</label>
    <input class="form-control" placeholder="Content..." ng-model="vm.post.content"/required>
    <div style="text-align:center;">
      <button type="submit" class="btn btn-success" ng-disabled="!vm.post.name" || "!vm.post.subject" || "!vm.post.content"> Submit</button>
    </div>
  </form>
</div>
